{{ define "main" }}
<section id="404" class="pt-24 pb-16 md:pt-32 md:pb-24 gradient-bg dark:gradient-bg-dark text-text-primary">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 mb-10 md:mb-0">
          <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 font-heading leading-tight text-text-primary">
            {{ .Site.Params.fourofour_name | default "404" }}
          </h1>
          <h2 class="text-2xl md:text-3xl mb-6 text-text-primary">
            {{ .Site.Params.fourofour_tagline | default (i18n "pageNotFound") }}
          </h2>
          <p class="text-lg mb-8 max-w-lg text-text-secondary">
            {{ .Site.Params.fourofour_subtitle | default (i18n "pageNotFoundSubtitle") }}
          </p>
          <div class="flex space-x-4">
            <a href="{{ .Site.Home.RelPermalink }}" class="bg-bg dark:bg-bg text-primary dark:text-primary-light px-6 py-3 rounded-lg font-medium hover:bg-bg-secondary dark:hover:bg-bg-secondary transition duration-300">{{ .Site.Params.fourofour_gohome | default (i18n "goHome") }}</a>
            <a href="{{ .Site.Params.resume_url_en }}" target="_blank" rel="noopener" class="bg-primary text-text-primary px-6 py-3 rounded-lg font-medium hover:bg-primary-dark transition duration-300">{{ i18n "viewCV" }}</a>
          </div>
        </div>
        {{ if .Site.Params.fourofour_image }}
        <div class="md:w-1/2 flex justify-center">
          <div class="hero-image relative" data-animation="404-image">
            <div class="w-64 h-64 md:w-80 md:h-80 rounded-full bg-bg bg-opacity-20 backdrop-filter backdrop-blur-lg border-4 border-border-primary border-opacity-30 overflow-hidden">
              <div class="w-full h-full overflow-hidden rounded-full">
                <img src="{{ .Site.Params.fourofour_image }}" alt="Portrait of {{ .Site.Params.name }}" loading="lazy" decoding="async" class="object-cover w-full h-full" />
              </div>
            </div>
            <div class="absolute -bottom-5 -right-5 bg-second text-white px-4 py-2 rounded-lg font-medium shadow-lg">
              <i class="fas fa-map-marker-alt mr-2"></i> {{ .Site.Params.fourofour_location | default (i18n "certainlyNotHere") }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  
{{ end }}
