{{ $pexelsQueries := .Site.Params.pexels.queries }}
{{ if not $pexelsQueries }}
  {{ errorf "Pexels queries not configured in config.toml under [params.pexels.queries]" }}
{{ end }}
<div id="pexels-config" data-queries="{{ $pexelsQueries | jsonify }}" data-pexels-api-key="{{ .Site.Params.pexelsapikey | default "" }}" data-formspree-endpoint="{{ .Site.Params.formspreeendpoint | default "" }}" style="display: none;"></div>
<script>
  (function() {
    var el = document.getElementById('pexels-config');
    if (el) {
      window.PEXELS_API_KEY = el.getAttribute('data-pexels-api-key') || '';
      window.FORMSPREE_ENDPOINT = el.getAttribute('data-formspree-endpoint') || '';
      try { window.PEXELS_QUERIES = JSON.parse(el.getAttribute('data-queries')); } catch (e) { window.PEXELS_QUERIES = []; }
    } else {
      window.PEXELS_API_KEY = window.FORMSPREE_ENDPOINT = '';
      window.PEXELS_QUERIES = [];
    }
  })();
</script>
